<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario de Registro</title>
</head>

<body>
	<div>
		<h2>Formulario de Registro</h2>
		<form action="/formulario" method="post" th:action="@{/formulario}" th:object="${datosFormulario}">
			<fieldset>
				<legend>Datos Personales</legend>
				<!-- Nombre -->
				<div>
					<label for="nombre">Nombre</label>
					<input type="text" id="nombre" th:field="*{nombre}" placeholder="Nombre">
					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>

				<!-- Primer Apellido -->
				<div>
					<label for="primerApellido">Primer Apellido</label>
					<input type="text" id="primerApellido" th:field="*{primerApellido}" placeholder="Primer Apellido">
					<div th:if="${#fields.hasErrors('primerApellido')}" th:errors="*{primerApellido}"></div>
				</div>

				<!-- Segundo Apellido -->
				<div>
					<label for="segundoApellido">Segundo Apellido</label>
					<input type="text" id="segundoApellido" th:field="*{segundoApellido}"
						placeholder="Segundo Apellido">
					<div th:if="${#fields.hasErrors('segundoApellido')}" th:errors="*{segundoApellido}"></div>
				</div>

				<!-- Correo electrónico -->
				<div>
					<label for="email">Correo Electrónico</label>
					<input type="email" id="email" th:field="*{email}" placeholder="Correo Electrónico">
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>

				<!-- Fecha de nacimiento -->
				<div>
					<label for="fechaNacimiento">Fecha de Nacimiento</label>
					<input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}">
					<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
				</div>

				<!-- Contraseña -->
				<div>
					<label for="contrasena">Contraseña</label>
					<input type="password" id="contrasena" th:field="*{contrasena}" placeholder="Contraseña">
					<div th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></div>
				</div>

				<!-- Sexo -->
				<div>
					<label>Sexo</label>
					<div>
						<input type="radio" id="masculino" th:field="*{sexo}" value="Varón"> Varón<br>
						<input type="radio" id="femenino" th:field="*{sexo}" value="Mujer"> Mujer<br>
					</div>
					<div th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></div>
				</div>

				<!--Dirección-->
				<div>
					<label for="direccion">Dirección</label>
					<input type="text" id="direccion" th:field="*{direccion}"
						placeholder="Calle o Plaza, número y piso">
					<div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
				</div>
			</fieldset><br>
			<fieldset>
				<legend>Nivel de estudios e intereses</legend>
				<!-- Nivel de estudios -->
				<div>
					<label>Nivel de Estudios</label>
					<div>
						<input type="radio" th:field="*{nivelEstudios}" value="Certificado escolar"> Certificado escolar<br>
						<input type="radio" th:field="*{nivelEstudios}" value="Graduado de la ESO"> Graduado en ESO<br>
						<input type="radio" th:field="*{nivelEstudios}" value="Bachiller - Formación Profesional">Bachiller - Formación profesional<br>
						<input type="radio" th:field="*{nivelEstudios}" value="Diplomado"> Diplomado<br>
						<input type="radio" th:field="*{nivelEstudios}" value="Licenciado"> Licenciado<br>
						<input type="radio" th:field="*{nivelEstudios}" value="Doctorado"> Doctorado
					</div>
					<div th:if="${#fields.hasErrors('nivelEstudios')}" th:errors="*{nivelEstudios}"></div>
				</div>

				<!-- Temas de Interés -->
				<div>
					<label>Temas de Interés</label>
					<div>
						<input type="checkbox" th:field="*{temasInteres}" value="Música"> Música<br>
						<input type="checkbox" th:field="*{temasInteres}" value="Deportes"> Deportes<br>
						<input type="checkbox" th:field="*{temasInteres}" value="Cine"> Cine<br>
						<input type="checkbox" th:field="*{temasInteres}" value="Libros"> Libros<br>
						<input type="checkbox" th:field="*{temasInteres}" value="Ciencia"> Ciencia<br>
						<input type="checkbox" th:field="*{temasInteres}" value="Tecnología"> Tecnología
					</div>
					<div th:if="${#fields.hasErrors('temasInteres')}" th:errors="*{temasInteres}"></div>
				</div>
			</fieldset><br>
			<fieldset>
				<legend>Enviar formulario</legend>
				<!-- Botón Enviar -->
				<p>¿Estás seguro de que los datos son correctos?</p>
				<button type="submit">Enviar</button>
			</fieldset>
		</form>
	</div>
</body>

</html>