<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head><title>MiniQuizz etapa 3</title></head>
<body>
<form>
	<p>
	<label>Aficciones:</label>
	<ol>
	<li><input type="checkbox" name="aficciones" value=1>Deportes</li>
	<li><input type="checkbox" name="aficciones" value=2>Juerga</li>
	<li><input type="checkbox" name="aficciones" value=3>Lectura</li>
	<li><input type="checkbox" name="aficciones" value=4>Relaciones sociales</li>
	</ol>
	</p>
   <input type="submit" name="enviar" value="Siguiente" />
   </span>
   </form> 
</body>
</html>